# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.vscode

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example
medium-private-key.pem

# vercel
.vercel

# typescript
*.tsbuildinfo

# logs
/logs
*.log

# Allow committed Prisma migrations
!prisma/migrations/
!prisma/migrations/**
prisma/dev.db
prisma/dev.db-journal

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
